.details-group-controls{
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
}

.controls-confirm-dialog{
  width: 100%;
  max-height: 0;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  background-color: #e5e7eb;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-10px);
}

.controls-confirm-dialog.is-deleting{
  max-height: 100px;
  opacity: 1;
  transform: translateY(0);
}

.controls-confirm-dialog > span {
  line-height: 1;
}

.controls-confirm-options{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.inner{
  background-color: #f4f5f7;
}